.grid {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    gap: 25px 7px;
    grid-template-columns: repeat(4, minmax(50px, 1fr));

    img {
        max-width: 100%;
        display: block;
    }
}