* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .button_group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 14px;

        .button {
            font-size: 14px;
            color: #c0c0c0;
            font-weight: 600;
            border-radius: 30px;
            border: 1px solid #c0c0c0;
            background-color: transparent;
            padding: 5px 12px;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                background-color: #c0c0c018;
            }
        }
    }

    .grid {
        margin-top: 40px;
        display: grid;
        justify-content: center;
        gap: 25px 7px;
        grid-template-columns: repeat(4, minmax(50px, 1fr));

        img {
            max-width: 100%;
            display: block;
        }
    }
}
