.overlay {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(51, 29, 23, 0.651);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    opacity: 0;

    &[class*="--after-open"] {
        opacity: 1;
    }

    &[class*="--before-close"] {
        opacity: 0;
    }

    .modal {
        background-color: #fff;
        border-radius: 30px;
        width: 100%;
        outline: none;
        overflow: auto;
        margin: 18px;

        &_full {
            width: 100%;
            min-height: 100vh;
        }

        &_medium {
            max-width: 65vw;
        }

        &_small {
            max-width: 375px;
        }

        .wrapper {
            padding: 32px 20px;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .title {
                font-size: 20px;
                font-weight: 500;
            }

            .close_button {
                font-size: 14px;
                cursor: pointer;
            }
        }
        .content {
            padding: 21px 0;
        }
    }
}
