$orange: rgb(207, 102, 4);

.placemark {
    background-color: #fff;
    z-index: 1500;
    height: 28px;
    width: 28px;
    border: 1px solid $orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);

    & .circle {
        background-color: $orange;
        height: 16px;
        width: 16px;
        border-radius: 50%;
    }
}
